/**
* Styling for the PyMart Intranet System.
*
* CS 2660 OL1 - Cybersecurity Principles
* Author: Anthony Stem
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem 0 1rem;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  width: 100%;
  background-color: white;
}
.navigation-bar .hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
}
.navigation-bar .hamburger-button .hamburger-line {
  background-color: black;
  height: 2px;
  width: 1rem;
}
.navigation-bar .hamburger-button .hamburger-line-short {
  background-color: black;
  height: 2px;
  width: 0.5rem;
}
.navigation-bar .hamburger-close-button {
  position: absolute;
  right: 1rem;
  height: 24px;
  width: 24px;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.navigation-bar .hamburger-close-button.show {
  display: flex;
}
.navigation-bar .hamburger-close-button::before,
.navigation-bar .hamburger-close-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px; /* cross thickness */
  background-color: black;
}
.navigation-bar .hamburger-close-button::before {
  transform: rotate(45deg);
}
.navigation-bar .hamburger-close-button::after {
  transform: rotate(-45deg);
}
.navigation-bar .navigation-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-bar .navigation-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 3rem;
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  transition: 0.4s;
}
.navigation-bar .navigation-links.show {
  display: flex;
  transition: 0.4s;
  left: 0;
}
.navigation-bar .navigation-links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.navigation-bar .navigation-links a:hover {
  text-decoration: underline;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  padding: 0 1rem 0 1rem;
}
.landing .button-container {
  display: flex;
  gap: 0.5rem;
}
.landing .landing-button {
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: #058ED9;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}
.landing .landing-button:hover {
  transition: 0.5s;
  box-shadow: inset 0px 0px 0px 2px #001b29;
}

.content-wrapper {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Roboto", sans-serif;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Roboto", sans-serif;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f7f7f7;
  padding: 1rem;
  width: 24rem;
}
.form-section h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.form-section .form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-section .form-body div {
  display: flex;
  flex-direction: column;
}
.form-section .form-body div label {
  font-size: small;
}
.form-section .form-body div input {
  border: none;
  background-color: white;
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
}
.form-section .form-body div button {
  border: none;
  background-color: #058ED9;
  padding: 0.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}
.form-section .form-body div button:hover:enabled {
  background-color: #508ED9;
}
.form-section .form-bottom {
  text-align: center;
  font-size: small;
}
.form-section #create-account:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
.form-section .help-text {
  margin-top: 0.25rem;
  font-size: small;
  color: #888888;
  font-family: "Open Source Pro", sans-serif;
}

.alert {
  padding: 0.75rem;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

.alert-success {
  position: absolute;
  background-color: #ddffdd;
  color: #006600;
  border: 2px solid #bbffbb;
}

.alert-failure {
  background-color: #f9d2d8;
  color: #902047;
  border: 2px solid #f8c9d1;
}

.content-section {
  padding: calc(64px + 1rem) 1rem 1rem 1rem;
}

/* ########## Media Queries/Breakpoints ########## */
@media (min-width: 768px) {
  .navigation-bar {
    padding: 0 8rem 0 8rem;
  }
  .navigation-bar .navigation-links {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
  }
  .navigation-bar .hamburger-button {
    display: none;
  }
  .landing {
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .landing .landing-title h1 {
    font-size: 4rem;
  }
  .login {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .form-section {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .navigation-bar {
    padding: 0 16rem 0 16rem;
  }
  .landing {
    padding-left: 16rem;
    padding-right: 16rem;
  }
  .login {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}/*# sourceMappingURL=styles.css.map */