{% extends "layout.html" %}
{% block content %}
    <section class="form-section">
        <h1>Sign In</h1>

        {% for error in form_errors %}
        <div class="alert alert-failure" role="alert">
            <p>{{ error }}</p>
        </div>
        {% endfor %}

        <form class="form-body" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
        <div class="form-bottom">
            <p>Not registered? <a href="register">Create an Account</a></p>
        </div>
    </section>
{% endblock %}