{% extends "layout.html" %}
{% block content %}
    <section class="form-section">
        <h1>Register</h1>

        {% for error in form_errors %}
        <div class="alert alert-failure" role="alert">
            <p>{{ error }}</p>
        </div>
        {% endfor %}

        <form class="form-body" method="POST">
            <div>
                <label for="username-input">Username</label>
                <input type="text" id="username-input" name="new-username" placeholder="Enter a Username" minlength="3" maxlength="16" required>
                <div class="help-text">
                    <p id="username-requirement"><i class="fa-regular fa-circle-xmark"></i> Username must be at least 3 characters and at most 16 characters long.</p>
                </div>   
            </div>
            <div>
                <label for="password-input">Password</label>
                <input type="password" id="password-input" name="new-password" placeholder="Enter a Password" minlength="8" maxlength="25" required>    
                <div class="help-text">
                    <p id="minimum-length-requirement"><i class="fa-regular fa-circle-xmark"></i> Minimum length of 8 characters.</p>
                    <p id="maximum-length-requirement"><i class="fa-regular fa-circle-xmark"></i> Maximum length of 25 characters.</p>
                    <p id="number-requirement"><i class="fa-regular fa-circle-xmark"></i> Must contain at least one number.</p>
                    <p id="lowercase-requirement"><i class="fa-regular fa-circle-xmark"></i> Must contain at least one lowercase letter.</p>
                    <p id="uppercase-requirement"><i class="fa-regular fa-circle-xmark"></i> Must contain at least one uppercase letter.</p>
                    <p id="special-character-requirement"><i class="fa-regular fa-circle-xmark"></i> Must contain at least one special character.</p>
                </div>       
            </div>
            <div>
                <label for="password-confirmation">Confirm Password</label>
                <input id="password-confirmation" type="password" name="password-confirmation" placeholder="Enter Password Again" minlength="8" maxlength="25" required>  
            </div>
            <div>
                <button id="create-account" type="submit" disabled>Create Account</button>
            </div>
        </form>
        <div class="form-bottom">
            <p>Already have an account? <a href="login">Log In</a></p>
        </div>
    </section>
    <script type="text/javascript">
        // Username input elements.
        const usernameInputBox = document.getElementById("username-input");
        const usernameRequirement = document.getElementById("username-requirement");
        // Password input elements.
        const passwordInputBox = document.getElementById("password-input");
        const minimumLengthRequirement = document.getElementById("minimum-length-requirement");
        const maximumLengthRequirement = document.getElementById("maximum-length-requirement");
        const numberRequirement = document.getElementById("number-requirement");
        const lowercaseRequirement = document.getElementById("lowercase-requirement");
        const uppercaseRequirement = document.getElementById("uppercase-requirement");
        const specialCharacterRequirement = document.getElementById("special-character-requirement");
        const createAccountButton = document.getElementById("create-account");
        const specialCharacters = " !\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~";
        // Password confirmation elements.
        const passwordConfirmationInputBox = document.getElementById("password-confirmation");

        var usernameInput = usernameInputBox.value;
        var passwordInput = passwordInputBox.value;
        var passwordConfirmationInput = passwordConfirmationInputBox.value;

        var usernameEntered = false;
        var meetsPasswordPolicy = false;
        var passwordsMatch = false;

        function checkFormComplete() {
            // Enable create account button if passwords match and policy requirements are met.
            console.log("Check");
            if(usernameEntered && meetsPasswordPolicy && passwordsMatch) {
                console.log("allow!");
                createAccountButton.disabled = false;
            } else {
                console.log("don't allow");
                createAccountButton.disabled = true;
            }
        }

        usernameInputBox.addEventListener('input', () => {
            usernameInput = usernameInputBox.value;
            if(usernameInput.length >= 3 && usernameInput.length <= 16) {
                usernameRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                usernameRequirement.firstElementChild.classList.add("fa-check-circle");
                usernameRequirement.style.color = "green";
                usernameEntered = true;
            } else if(usernameInput.length > 0) {
                usernameRequirement.firstElementChild.classList.add("fa-circle-xmark");
                usernameRequirement.firstElementChild.classList.remove("fa-check-circle");
                usernameRequirement.style.color = "red";
                usernameEntered = false;
            } else {
                usernameRequirement.firstElementChild.classList.add("fa-circle-xmark");
                usernameRequirement.firstElementChild.classList.remove("fa-check-circle");
                usernameRequirement.style.color = "";
            }

            checkFormComplete()
        });

        passwordInputBox.addEventListener('input', () => {
            let meetsMinimum = false;
            let meetsMaximum = false;
            let hasNumber = false;
            let hasLower = false;
            let hasUpper = false;
            let hasSpecial = false;
            
            passwordInput = passwordInputBox.value;
            let inputLength = passwordInput.length;

            // Minimum length requirement.
            if(inputLength >= 8) {
                minimumLengthRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                minimumLengthRequirement.firstElementChild.classList.add("fa-check-circle");
                minimumLengthRequirement.style.color = "green";
                meetsMinimum = true;
            } else if(inputLength < 8 && inputLength > 0) {
                minimumLengthRequirement.firstElementChild.classList.add("fa-circle-xmark");
                minimumLengthRequirement.firstElementChild.classList.remove("fa-check-circle");
                minimumLengthRequirement.style.color = "red";
                meetsMinimum = false;
            } else {
                minimumLengthRequirement.firstElementChild.classList.add("fa-circle-xmark");
                minimumLengthRequirement.firstElementChild.classList.remove("fa-check-circle");
                minimumLengthRequirement.style.color = "";
                meetsMinimum = false;
            }

            // Maximum length requirement.
            if(inputLength > 25) {
                maximumLengthRequirement.firstElementChild.classList.add("fa-circle-xmark");
                maximumLengthRequirement.firstElementChild.classList.remove("fa-check-circle");
                maximumLengthRequirement.style.color = "red";
                meetsMaximum = false;
            } else if(inputLength > 0 && inputLength <= 25) {
                maximumLengthRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                maximumLengthRequirement.firstElementChild.classList.add("fa-check-circle");
                maximumLengthRequirement.style.color = "green";
                meetsMaximum = true;
            } else {
                maximumLengthRequirement.firstElementChild.classList.add("fa-circle-xmark");
                maximumLengthRequirement.firstElementChild.classList.remove("fa-check-circle");
                maximumLengthRequirement.style.color = "";
                meetsMaximum = false;
            }

            // Check character requirements.
            for(let c = 0; c < passwordInput.length; c++) {
                // Has number.
                if(/[0-9]/.test(passwordInput[c])) {
                    hasNumber = true;
                }

                // Has lowercase.
                if(/[a-z]/.test(passwordInput[c])) {
                    hasLower = true;
                }

                // Has uppercase.
                if(/[A-Z]/.test(passwordInput[c])) {
                    hasUpper = true;
                }

                // Has special character.
                if(specialCharacters.includes(passwordInput[c])) {
                    hasSpecial = true;
                }
            }   

            // Handle number requirement.
            if(hasNumber) {
                numberRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                numberRequirement.firstElementChild.classList.add("fa-check-circle");
                numberRequirement.style.color = "green";
            } else if(!hasNumber && inputLength > 0) {
                numberRequirement.firstElementChild.classList.add("fa-circle-xmark");
                numberRequirement.firstElementChild.classList.remove("fa-check-circle");
                numberRequirement.style.color = "red";
            } else {
                numberRequirement.firstElementChild.classList.add("fa-circle-xmark");
                numberRequirement.firstElementChild.classList.remove("fa-check-circle");
                numberRequirement.style.color = "";
            }

             // Handle lowercase requirement.
            if(hasLower) {
                lowercaseRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                lowercaseRequirement.firstElementChild.classList.add("fa-check-circle");
                lowercaseRequirement.style.color = "green";
            } else if(!hasLower && inputLength > 0) {
                lowercaseRequirement.firstElementChild.classList.add("fa-circle-xmark");
                lowercaseRequirement.firstElementChild.classList.remove("fa-check-circle");
                lowercaseRequirement.style.color = "red";
            } else {
                lowercaseRequirement.firstElementChild.classList.add("fa-circle-xmark");
                lowercaseRequirement.firstElementChild.classList.remove("fa-check-circle");
                lowercaseRequirement.style.color = "";
            }

            // Handle uppercase requirement.
            console.log(hasUpper);
            console.log("IL:" + inputLength);
            if(hasUpper) {
                uppercaseRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                uppercaseRequirement.firstElementChild.classList.add("fa-check-circle");
                uppercaseRequirement.style.color = "green";
            } else if(!hasUpper && inputLength > 0) {
                uppercaseRequirement.firstElementChild.classList.add("fa-circle-xmark");
                uppercaseRequirement.firstElementChild.classList.remove("fa-check-circle");
                uppercaseRequirement.style.color = "red";
            } else {
                uppercaseRequirement.firstElementChild.classList.add("fa-circle-xmark");
                uppercaseRequirement.firstElementChild.classList.remove("fa-check-circle");
                uppercaseRequirement.style.color = "";
            }
            
            // Handle special character requirement.
            if(hasSpecial) {
                specialCharacterRequirement.firstElementChild.classList.remove("fa-circle-xmark");
                specialCharacterRequirement.firstElementChild.classList.add("fa-check-circle");
                specialCharacterRequirement.style.color = "green";
            } else if(!hasSpecial && inputLength > 0) {
                specialCharacterRequirement.firstElementChild.classList.add("fa-circle-xmark");
                specialCharacterRequirement.firstElementChild.classList.remove("fa-check-circle");
                specialCharacterRequirement.style.color = "red";
            } else {
                specialCharacterRequirement.firstElementChild.classList.add("fa-circle-xmark");
                specialCharacterRequirement.firstElementChild.classList.remove("fa-check-circle");
                specialCharacterRequirement.style.color = "";
            }

            if(meetsMinimum && meetsMaximum && hasNumber && hasLower && hasUpper && hasSpecial) {
                meetsPasswordPolicy = true;
            } else {
                meetsPasswordPolicy = false;
            }

            checkFormComplete();
        });

        passwordConfirmationInputBox.addEventListener('input', () => {
            passwordConfirmation = passwordConfirmationInputBox.value;
            console.log(passwordInput);
            console.log(passwordConfirmation);
            if(passwordConfirmation == passwordInput && passwordConfirmation.length > 0) {
                console.log("They match.")
                passwordsMatch = true;
            } else {
                passwordsMatch = false;
            }

            checkFormComplete();
        });
    </script>
{% endblock %}